.uk-child-width-expand{'uk-grid' => ''}
  %div
    #hipstermap-poster-container
      #hipstermap-preview-map
      #hipstermap-title
        CITY
      #hipstermap-subtitle
        COUNTRY
      #hipstermap-coords
        41°01'14" N - 28°58'30" E
  %div
    - if @map.errors.any?
      .uk-alert.uk-alert-danger
        = @map.errors.full_messages.to_sentence
    %div
      .search-image= image_tag 'city-search.png'
    = simple_form_for @map, html: {class: 'uk-form-stacked'} do |f|
      %legend.uk-legend Map Configuration
      .uk-margin
        //%label.uk-form-label{:for => "form-stacked-select"} Format
        .uk-form-controls
          = f.input :format, label: 'Format', as: :select, collection: [['75x50cm', '2:3'], ['40x30cm', '3:4']], selected: '75x50cm', input_html: {class: 'uk-select'}, label_html: {class: 'uk-form-label'}
      .uk-margin
        .uk-form-controls
          = f.input :style, label: 'Style', as: :select, collection: [['Blue', 'shigawire/cjkqod0by7xsc2rpju6kvos0x'], ['Dark', 'mapbox/dark-v10'], ['Decimal', 'mapbox-map-design/ck4014y110wt61ctt07egsel6'], ['Satelite', 'mapbox/satellite-v9'], ['Frank', 'mapbox-map-design/ckshxkppe0gge18nz20i0nrwq']], selected: 'Blue', input_html: {class: 'uk-select'}, label_html: {class: 'uk-form-label'}
      .uk-margin
        .uk-form-controls.hidden--on-load
          = f.input :title, label: 'City', input_html: {class: 'uk-input', value: 'CITY'}, label_html: {class: 'uk-form-label'}
      .uk-margin
        .uk-form-controls.hidden--on-load
          = f.input :subtitle, label: 'Country', input_html: {class: 'uk-input', value: 'COUNTRY'}, label_html: {class: 'uk-form-label'}
      .uk-margin
        .uk-form-controls.hidden--on-load
          = f.input :coords, label: 'Coordinates', input_html: {class: 'uk-input'}, label_html: {class: 'uk-form-label'}
      .uk-margin
        = f.input :lon, as: :hidden, input_html: {value: 0}
        = f.input :lat, as: :hidden, input_html: {value: 0}
        = f.input :zoom, as: :hidden, input_html: {value: 0.1}

        = f.submit class: 'button uk-button uk-button-primary uk-width-1-1'
